<!--
  Original code using flag based logic
  <div style="background-color: black; color: aliceblue">
  <p>card works!</p>

  <mat-card
    class="example-card"
    style="background-color: orange"
    *ngIf="isFlipped"
  >
    <mat-card-content>
      <p>Front Card</p>
    </mat-card-content>
  </mat-card>
  <mat-card
    class="example-card"
    style="background-color: red"
    *ngIf="!isFlipped"
  >
    <mat-card-content>
      <p>Back Card</p>
    </mat-card-content>
  </mat-card>
  <section class="example-section">
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      (click)="flipCard()"
    >
      Flip!!
    </mat-slide-toggle>
  </section>
</div> -->
<div class="container card-container-main">
    <div class="main-card-div" *ngFor="let item of flashCards; let i = index">
      <p>Card {{ i + 1 }}</p>
      <div class="card-container" [class.flipped]="item.isFlipped">
        <mat-card class="example-card card-front">
          <mat-card-content>
            <p>{{ item.question }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card card-back">
          <mat-card-content>
            <p>{{ item.answer }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <section class="example-section">
        <mat-slide-toggle
          class="example-margin"
          [color]="color"
          (click)="flipCard(i)"
        >
          Flip!!
        </mat-slide-toggle>
      </section>
    </div>
  </div>
  